<div class="about_header">
    <ul class="about_head_text">
        <li id="about_one">Coming</li>
        <li id="about_two">Soon</li>
    </ul>
</div>

<div id="calendar_placeholder">
    <img src="~/Images/comingsoon.jpg" />
</div>

<script>
    document.getElementById('about_one').style.color = 'yellow';
    document.getElementById('about_two').style.color = 'white';
</script>