<div class="about_header">
    <ul class="about_head_text">
        <li id="about_one">History</li>
        <li id="about_two">of West Springs Church</li>
    </ul>
</div>
<hr />
<div>
    <p class="container">
        West Springs Church began with a handful of families led by Pastor Tim McDonnell. We secured meeting space at Carmen Trails Elementary School and held our first worship service there on May 5, 1995. We purchased an old bread delivery panel truck for storing all of our equipment. Every week we unloaded, set-up, tore down and reloaded that truck- a lot of work, but we were rewarded with a strong bond of cooperation and sacrifice on the part of everybody. Those early days were great days!
        Once we began to grow we found a parcel of property that used to be a pumpkin field along Big Bend at Ries Road. We purchased those 10+ acres, continued to build a community and reach out to our friends in West County.
        <br />
        <br />
        A group of business-savvy people came alongside our leadership to put together an audacious plan to construct a 22,000 square foot facility for the church on the Big Bend site. Construction began in February of 1999 with no financing in place; just a handshake between Pastor Tim and the head of the construction company. Over the next few months, the church raised 1/5 of the construction cost and secured financing for the rest. We opened our doors in September of 1999. We count it a privilege to be part of the West County community and our church is a hub of service and outreach to our neighbors in Ballwin, MO.
    </p>
</div>

<div>
    <div>
        <div class="main_break"><b></b>We Want To Be A Real. Simple. Church.<b></b></div>
        <div> <p class="main_break_bottom"><b>We consider each other as family and our neighbors as friends.  Always.</b></p> </div>
    </div>
    <div class="col-md-5">
        <div class="about_list_header">We Want to be <u>REAL</u></div>
        <blockquote id="about_list_left">
            <p>We seek genuineness and authenticity</p>
            <p>In how we <u>respond</u> to God</p>
            <p>In how we <u>relate</u> to people</p>
            <p>In how we <u>relay</u> the good news</p>
        </blockquote>
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-5">
        <div class="about_list_header">We Want to be <u>Simple</u></div>
        <blockquote class="blockquote-reverse" id="about_list_right">
            <p>We seen in our gatherings and ministries</p>
            <p>Excellence in Execution</p>
            <p>Focus on God's Faithful Live</p>
            <p>Joy in our Service to Others</p>
        </blockquote>
    </div>


</div>

@Scripts.Render("~/Scripts/About_Scripts.js")