<div class="about_header">
    <ul class="about_head_text">
        <li id="about_one">Ongoing</li>
        <li id="about_two">Opporitunities</li>
    </ul>
</div>
<hr />
<div class="container" id="serve_main">
    <p>
        At West Springs Church, we want to include you in some of our amazing opportunities to share kindness, love
        and the Gospel with the world around us.  Below are some examples of the ongoing ministries in which we would
        love your help! If any of these options seems like something you want to be a part of, please contact
        @Html.ActionLink("Ryan McDonnell", "Contact", "Contact") and he will get you connected!
    </p>
    <hr />
    <h3>Dougherty Ferry Assisted Living Ministry</h3>
    <p class="serve_info">
        In this outreach program, you will have the opportunity to serve some of our community’s elderly.  We set up
        frequent trips to the assisted living center to hang out and celebrate these people’s lives, while also offering a
        bible study for those who are interested at the center to participate in.
    </p>
    <br />
    <h3>Inside Out Ministry</h3>
    <p class="serve_info">
        This ministry is for those who have the calling to give hope to those who made need a helping hand with some various
        home projects.  Teams will be set up and sent out to designated homes in our area to lend some extra support towards
        repairs and other home needs.
    </p>
    <br />
    <h3>Children's Ministry Volunteer</h3>
    <p class="serve_info">
        We are always on the lookout for people with big hearts towards children.  As cliché’ as it sounds, our children are
        the future and we want to teach them how to lovingly navigate the world in the ways the Christ has shown us through
        His Word.  If this sounds like you, contact us and we will inform you of the next step.  Being that this ministry does
        work with children, background checks will be necessary to serve in this ministry.
    </p>
    <br />
    <h3>Other</h3>
    <p class="serve_info">
        These are just a handful of ministry opportunities at WSC.  We have areas to serve all over (ranging from setting up
        chairs, to backpack ministries and food drives)  if none of these sound like you, contact us and we will help find the
        right spot or maybe even help you start your own way of serving.
    </p>

</div>

@Scripts.Render("~/Scripts/Serve_Script.js")