<div class="about_header">
    <ul class="about_head_text">
        <li id="about_one">Mission</li>
        <li id="about_two">&amp; Vision Statements</li>
    </ul>
</div>

<div class="col-md-6" style="margin-top: 3%;">
    <h3 style="margin-left: 10%;">Our Mission Statement</h3>
    <blockquote style="margin-left: 10%; height: 15em;">
        <p>West Springs is a Church with the mision</p>
        <p>to <b>KNOW</b> Christ</p>
        <p>to <b>GROW</b> in Christ</p>
        <p>to <b>SHOW</b> Christ to our world.</p>
    </blockquote>
</div>

<div class="col-md-6" style="margin-top:3%;">
    <h3 style="text-align: right; margin-right: 10%;">Our Vision Statement</h3>
    <blockquote class="blockquote-reverse" style="margin-right: 10%; height: 15em; padding-top: 8%;">
        <p>West Springs Church is a praying church, reaching to our
            city and beyond, by serving those
            far from God with friendship, love and the gospel of Jesus, in the power of the Holy Spirit.
    </blockquote>
</div>

@Scripts.Render("~/Scripts/About_Scripts.js")
